In [9]:
import os
import os.path as osp
import pickle
import csv
import collections

import numpy as np
import PIL.Image as Image
import torch
from torch.utils.data import Dataset
from torchvision import transforms
from torchvision.transforms import Compose, Normalize, Resize
import pandas as pd

In [11]:
# Reading the csv file given for the mini-imagenet dataset
dataset = pd.read_csv('datasets/mini-imagenet/test.csv', low_memory=False)
dataset

                    filename      label
0      n0193011200000001.jpg  n01930112
1      n0193011200000004.jpg  n01930112
2      n0193011200000005.jpg  n01930112
3      n0193011200000006.jpg  n01930112
4      n0193011200000008.jpg  n01930112
...                      ...        ...
11995  n0761348000001293.jpg  n07613480
11996  n0761348000001294.jpg  n07613480
11997  n0761348000001296.jpg  n07613480
11998  n0761348000001297.jpg  n07613480
11999  n0761348000001298.jpg  n07613480

[12000 rows x 2 columns]

In [13]:
# Unique classes
classes=dataset.label.unique()
classes

array(['n01930112', 'n01981276', 'n02099601', 'n02110063', 'n02110341',
       'n02116738', 'n02129165', 'n02219486', 'n02443484', 'n02871525',
       'n03127925', 'n03146219', 'n03272010', 'n03544143', 'n03775546',
       'n04146614', 'n04149813', 'n04418357', 'n04522168', 'n07613480'],
      dtype=object)

In [14]:
# Create 2 classes list to form a group of 5 classes and 10 classes respectively
classes_5=classes[:5]
classes_10=classes[:10]
print(classes_5,classes_10)

['n01930112' 'n01981276' 'n02099601' 'n02110063' 'n02110341'] ['n01930112' 'n01981276' 'n02099601' 'n02110063' 'n02110341' 'n02116738'
 'n02129165' 'n02219486' 'n02443484' 'n02871525']

In [ ]:
dataset_1